<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>Site made using <a href="https://www.allanlab.org/aboutwebsite.html">Allan Lab Template</a></p>
              <p>We are part of the <a href="https://hcii.cmu.edu/">Human-Computer Interaction Institute</a> at <a href="https://www.cmu.edu/">Carnegie Mellon University</a>.</p>

		</div>
		<div class="col-sm-4">
		  Funding:<br />
      	  - <a href= "http://www.nsf.gov">National Science Foundation</a><br/>
		  - <a href="https://www.bsf.org.il/"> Bi-National Science Foundation </a> <br/>
		  - <a href="https://ies.ed.gov/funding/ncer_progs.asp">U.S. Department of Education: Institute of Education Sciences</a><br/>
		  - <a href="https://www.rkmf.org/">The R.K. Mellon Foundation</a>
		</div>
		<div class="col-sm-4">
		  <a href="{{ site.url }}{{ site.baseurl }}/contact">Contact us here!</a><br />
		  Newell-Simon Hall, Carnegie Mellon University<br />
		  5000 Forbes Avenue<br />
		  Pittsburgh, Pennsylvania<br />
		  United States <br />
            (<a href="https://www.google.com/maps/place/Newell-Simon+Hall/@40.443428,-79.9481883,17z/data=!3m1!4b1!4m6!3m5!1s0x8834f2216b3de60b:0x9dc3e7773e241828!8m2!3d40.443428!4d-79.9456134!16s%2Fm%2F040_66_?entry=ttu">Map</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/openPubs.js"></script>

