<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>Site made using <a href="https://www.allanlab.org/aboutwebsite.html">Allan Lab Template</a></p>
              <p>We are part of the <a href="https://hcii.cmu.edu/">Human-Computer Interaction Institute</a> at <a href="https://www.cmu.edu/">Carnegie Mellon University</a>.</p>

		</div>
		<div class="col-sm-4">
		  Funding:<br />
      	  - NSF, BSF <a href= "http://www.nsf.gov">NSF</a><br/>
		  - <a>grant </a> and <a>Some other grant</a> from <a>place</a> <br />

		</div>
		<div class="col-sm-4">
		  <a href="{{ site.url }}{{ site.baseurl }}/Contact">Contact us here!</a><br />
		  Newell-Simon Hall, Carnegie Mellon University<br />
		  5000 Forbes Avenue<br />
		  Pittsburgh, Pennsylvania<br />
		  United States <br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
