
<div class="well">
<h4 class="text-center" style="margin-top: 0px; margin-bottom: 0px;">News:</h4>

{% for article in site.data.news limit:5 %}
{% if article.frontpage == 1 %}
<p>
    <span style="font-size: 1.2em;"><em><b>{{ article.date }}</b></em></span><br>
    {% if article.image %}
        <div class="text-center my-3">
            <img 
                src="{{ site.url }}{{ site.baseurl }}/images/news/{{ article.image }}" 
                class="d-block mx-auto img-fluid" 
                style="max-width:80%; margin-top:10px; margin-bottom:10px;"
            >
            <br>
        </div>
        
    {% endif %}
    {{ article.headline }}<br>    
    {% if article.link %}<a href={{article.link}}>{{article.link_text}}</a>{% endif %}
    {% if article.link2 %}<a href={{article.link2}}>{{article.link2_text}}</a>{% endif %}
</p>
{% endif %}
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">... see all News</a></h4>

    </div>
